<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>823282339018-7fbpbs5cpdkb8eeq05j006mc0gavssl6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIjs-8C_Fn7o8rXbfYI0KZSa5VKuxwbcA</string>
	<key>GCM_SENDER_ID</key>
	<string>823282339018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacktaxandwhitebenefits.gfapp</string>
	<key>PROJECT_ID</key>
	<string>black-tax-and-white-benefits</string>
	<key>STORAGE_BUCKET</key>
	<string>black-tax-and-white-benefits.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823282339018:ios:d68c4decc7a883cc42f833</string>
	<key>DATABASE_URL</key>
	<string>https://black-tax-and-white-benefits.firebaseio.com</string>
</dict>
</plist>