<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXlxAsBKC-ncHPfpD_s_r3ghG1P4ucz14</string>
	<key>GCM_SENDER_ID</key>
	<string>951356165698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacktaxandwhitebenefits.gfapp.stg</string>
	<key>PROJECT_ID</key>
	<string>black-tax-white-benefits-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>black-tax-white-benefits-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951356165698:ios:0206eab37f8a51b44ee7db</string>
</dict>
</plist>